// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Lora:ital,wght@0,400;1,400;1,500&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

// Define fonts for body and headers

@font-face {
  font-family: 'Lato';
  src: url('Lato-Regular.ttf');
}

$body-font: "Lato", "Helvetica", "serif";
$headers-font: "Castoro", "Helvetica", "sans-serif";
$thrive-font: "Montserrat", "Helvetica", "sans-serif";

@font-face {
  font-family: "Eiko";
  src: font-url("PPEiko-Heavy") format("woff"),
    font-url("PPEiko-Heavy") format("woff2");
}

$farmland-font: "Eiko", "Helvetica", "sans-serif";
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
