
.is-hidden{
  display: none !important;
}

.nav {
  display: none;
  justify-content: space-between;
  background-color: #f4ffff;
  padding: 8px 20px 0px 20px;
  position:sticky;
  top: 0px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  z-index: 999;

  .name{
    margin: 4px 0px;
    font-family: $headers-font;
    letter-spacing: .1rem;
    font-style: italic;
    color: #000000;
  }

  .menu-icon{
    &:hover{
      cursor: pointer;
    }
  }

  li{
    display: inline;
  }
}

.nav-font{
  li {
    padding: 3px 10px 0px 3px;
    font-weight: 600;
    letter-spacing: .5px;
    list-style: none;
  }

  a{
    text-decoration: none;
    color: #2f4f4f;
  }

  a:hover{
    color: rgb(255, 113, 113);
  }
}

.vertical-menu{
    background-color: #f4ffff;
    padding-bottom: .2rem;
    position: sticky;
    top: 40px;
}

.background-yellow{
  background-color: #ffebbc !important;
  transition: background-color 2s ease;
}

.body{
  background-color: $background--purple;
  display: flex;
  flex-direction: column;

  .redesign{
    background-color: #11DFD3;
    height: 700px;
    overflow-x: hidden;
  }

  .heroContainer{
    padding-top: 6vh;
    width: 100%;
    height: 700px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .heroText{
    position: absolute;
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-align: left;
    color: #3B0C5E;
    font-size: 23rem;
    line-height: 80%;
    letter-spacing: -0.11em;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    left: -3%;
  }

  .overlay-linear-gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: linear-gradient(to bottom, rgba(181, 246, 186, 0), $background--purple);
  }

  .job-title{
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.6rem;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
    color: #6753FF;
    font-size: 12vw;
  }
  .web {
    position: absolute;
    left: 100%;
    top: 170px;
  }

  .move-web-left{
    left: 32rem;
    transition: left 1.5s;
  }

  .developer {
    position: absolute;
    left: 100%;
    top: 290px;
  }

  .move-developer-left{
    left: 34rem;
    transition: left 1.5s;
  }

  a{
    text-decoration: none;
    color: #3d2e3f;
    background-color: rgba(245, 63, 149, 0.37);
    line-height: 1;
    transition: color 0.2s ease-in, transform 0.2s ease-in;
    &:hover{
      color: #FFF;
      transform: scale(1.05);
    }
  }

  .scroll-text {
    opacity: 0;
    transition: opacity 1s ease-out;
  }

  .scroll-text.visible {
    opacity: 1;
  }

  .content{
    color: #3d2e3f;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;

    .intro {
      text-align: center;
    }

    p{
      font-size: 1rem;
      font-family: $body-font
    }

    .title {
      font-size: 2rem;
      margin: 0 auto;
    }

    .project {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin: 3rem 0;
    }

    .project-link{
      font-size: 1.1rem;
      i{
        color:#FFF;
        transition: color 0.2s ease-in, transform 0.2s ease-in;
        }
      &:hover{
        i{
          color:#3d2e3f;
          transform: scale(1.05);
        }
      }
    }

    .thrive-logo{
      font-family: $thrive-font;
      font-style: normal;
      font-weight: 900;
      color: #69388F;
    }

    .farmland-logo{
      font-family: $farmland-font;
      font-style: normal;
      font-weight: 900;
      color: #2D655E;
    }

    .project-image-desktop{
      display: block;
      margin: 1rem auto;
      width: 100%;
      max-width: 600px;
      border-radius: 5px;
    }

    .project-image-mobile{
      display: none;
    }

    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 3rem 0;
    }
  }

  @media only screen and (max-width:599px){
    .redesign{
      height: 300px;}

    .overlay-linear-gradient{
        height: 300px;
      }

    .heroContainer{
      height: 300px;
      display: flex;
      flex-direction: column;
    }

    .heroText{
      font-size: 7rem;
      position: static;
    }

    .subheader{
      display: flex;
      margin: -0.5rem 0 0 0.5rem;
    }

    .job-title{
      position: static;
      letter-spacing: -0.3rem;
    }

    .content{
      width: auto;
      margin: 0;

      p{
        font-size: 1rem;
        line-height: 1.7;
        letter-spacing: 0.01rem;
      }

      .project-left{
        margin-top: 3rem;
        margin-left: 9rem;
      }

      .project-right{
        margin-top: 3rem;
        margin-right: 9rem;
      }

      .project-image-desktop{
        display: none;
      }

      .project-image-mobile{
        display: block;
        position: absolute;
        width: 8rem;
      }

      .project-image-mobile-right{
        rotate: 3deg;
        right: 1rem;
      }

      .project-image-mobile-left{
        rotate: -3deg;
        left: 1rem;
      }
    }

  }
}
