<div data-controller="project-scroll">
<ul class= "project-container">
<li data-action="click->project-scroll#nextProject" class="swap-project">Next <i class="fa-solid fa-arrow-right"></i></li>
<li><%= render "farmland" %></li>
<li><%= render "unicornland" %></li>
</ul>
</div>
