<div class="project thrive-out-loud">
  <h2 class=project-name>Thrive Out Loud</h2>
  <div class="project-content">
    <div class="project-images">
      <%= image_tag("thrive-1.png", alt: "A thumbnail of a screenshot of Thrive Out Loud", class:"project-image", id:"mainimgid") %>
      <div class="gallery" data-controller="gallery">
        <%= image_tag("thrive-1.png", alt:"A thumbnail of a screenshot of Thrive Out Loud", data: {action: "click->gallery#changeImage"}) %>
        <%= image_tag("thrive-2.png", alt:"A thumbnail of a screenshot of Thrive Out Loud", data: {action: "click->gallery#changeImage"}) %>
        <%= image_tag("thrive-3.png", alt:"A thumbnail of a screenshot of Thrive Out Loud", data: {action: "click->gallery#changeImage"}) %>
      </div>
    </div>
    <div class="project-description">
    <p>Thrive Out Loud is a mentoring platform built for Sean's Legacy: an organisation whose focus is to educate friends, parents, and loved ones about youth suicide prevention<br>
      <br>
      Features:
      <ul>
        <li>Fully responsive web application</li>
        <li>Google Cloud Platform used for storage and authentication</li>
        <li>Responsive single-page onboarding wizard to collect user data during sign-in process</li>
        <li>Built to specification from client and UX design team</li>
      </ul>
      <br>
      Stack:
      <ul>
        <li>TypeScript</li>
        <li>Next.js</li>
        <li>React</li>
        <li>Firebase authentication</li>
        <li>Firestore (NoSQL)</li>
        <li>LESS</li>
        <li>Ant Design</li>
      </ul>
      </p>
    </div>
  </div>
</div>
