<div class="project unicornland is-hidden">
    <h2 class=project-name>Unicornland</h2>
    <div class="project-images-landscape" data-controller="unicornland-gallery">
      <%= image_tag("unicornland-1.png",
      alt: "A screenshot of Unicornland - the screen shows a unicorn along with some details about him, and invites users to rent it for one week",
      class: "project-image-landscape",
      id:"mainunicornimg") %>
      <div class="gallery-landscape">
        <%= image_tag("unicornland-1.png", data: {action: "click->unicornland-gallery#changeUnicornlandImage"}, alt:"A screenshot of Unicornland - the screen shows a unicorn along with some details about him, and invites users to rent it for one week") %>
        <%= image_tag("unicornland-2.png", data: {action: "click->unicornland-gallery#changeUnicornlandImage"}, alt:"A screenshot of Unicornland - the screen shows several unicorns along with filtering options and a search bar") %>
      </div>
    </div>
    <div class="project-content">
      <div class="project-description">
      <p>This was an Airbnb clone which we produced in less than five working days, taking the project from scratch to a working prototype.<br>
        <br>
        It was aimed at practicing our Ruby on Rails skills and taking a project from idea to production, through design and build to finally deploying on Heroku.<br>
        <br>
        We were encouraged to pick something fun and fantastical as a theme, and thus Unicornland was born!<br>
        <br>
        Features:
        <ul>
          <li>Owners can list unicorns for rent</li>
          <li>Users can browse unicorns, searching by key features like price, colour, age, etc.</li>
          <li>Owners can approve or reject reservations</li>
        </ul>
        </p>
      </div>
    </div>
  </div>
</div>
