<div class="bawdy">
  <div class="redesign">
  <div class="overlay-linear-gradient"></div>
    <div class="heroContainer">
      <h1 class="heroText">Joe Roberts</h1>
      <h2 class="job-title" id="web">web</h2>
      <h2 class="job-title" id="developer">developer</h2>
    </div>
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, debitis nesciunt? Qui hic est inventore possimus, doloribus corrupti esse rerum? Sequi sint doloribus delectus optio eos saepe aperiam nulla incidunt?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium reprehenderit voluptate veritatis iusto asperiores sint architecto sit pariatur odio eaque nisi aspernatur est eius, omnis beatae alias ea quas ut.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsum, magnam similique hic ea nulla laborum quia commodi, tempora optio, illum pariatur corrupti. Nostrum reprehenderit animi repudiandae, ipsa fuga labore?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum possimus non maiores iure quaerat sint adipisci aliquid beatae dolorum totam nostrum, aperiam hic cumque odio consequuntur nemo magni a doloribus.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, debitis nesciunt? Qui hic est inventore possimus, doloribus corrupti esse rerum? Sequi sint doloribus delectus optio eos saepe aperiam nulla incidunt?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium reprehenderit voluptate veritatis iusto asperiores sint architecto sit pariatur odio eaque nisi aspernatur est eius, omnis beatae alias ea quas ut.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsum, magnam similique hic ea nulla laborum quia commodi, tempora optio, illum pariatur corrupti. Nostrum reprehenderit animi repudiandae, ipsa fuga labore?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum possimus non maiores iure quaerat sint adipisci aliquid beatae dolorum totam nostrum, aperiam hic cumque odio consequuntur nemo magni a doloribus.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, debitis nesciunt? Qui hic est inventore possimus, doloribus corrupti esse rerum? Sequi sint doloribus delectus optio eos saepe aperiam nulla incidunt?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium reprehenderit voluptate veritatis iusto asperiores sint architecto sit pariatur odio eaque nisi aspernatur est eius, omnis beatae alias ea quas ut.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsum, magnam similique hic ea nulla laborum quia commodi, tempora optio, illum pariatur corrupti. Nostrum reprehenderit animi repudiandae, ipsa fuga labore?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum possimus non maiores iure quaerat sint adipisci aliquid beatae dolorum totam nostrum, aperiam hic cumque odio consequuntur nemo magni a doloribus.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, debitis nesciunt? Qui hic est inventore possimus, doloribus corrupti esse rerum? Sequi sint doloribus delectus optio eos saepe aperiam nulla incidunt?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium reprehenderit voluptate veritatis iusto asperiores sint architecto sit pariatur odio eaque nisi aspernatur est eius, omnis beatae alias ea quas ut.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsum, magnam similique hic ea nulla laborum quia commodi, tempora optio, illum pariatur corrupti. Nostrum reprehenderit animi repudiandae, ipsa fuga labore?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum possimus non maiores iure quaerat sint adipisci aliquid beatae dolorum totam nostrum, aperiam hic cumque odio consequuntur nemo magni a doloribus.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, debitis nesciunt? Qui hic est inventore possimus, doloribus corrupti esse rerum? Sequi sint doloribus delectus optio eos saepe aperiam nulla incidunt?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium reprehenderit voluptate veritatis iusto asperiores sint architecto sit pariatur odio eaque nisi aspernatur est eius, omnis beatae alias ea quas ut.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsum, magnam similique hic ea nulla laborum quia commodi, tempora optio, illum pariatur corrupti. Nostrum reprehenderit animi repudiandae, ipsa fuga labore?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum possimus non maiores iure quaerat sint adipisci aliquid beatae dolorum totam nostrum, aperiam hic cumque odio consequuntur nemo magni a doloribus.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, debitis nesciunt? Qui hic est inventore possimus, doloribus corrupti esse rerum? Sequi sint doloribus delectus optio eos saepe aperiam nulla incidunt?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium reprehenderit voluptate veritatis iusto asperiores sint architecto sit pariatur odio eaque nisi aspernatur est eius, omnis beatae alias ea quas ut.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsum, magnam similique hic ea nulla laborum quia commodi, tempora optio, illum pariatur corrupti. Nostrum reprehenderit animi repudiandae, ipsa fuga labore?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum possimus non maiores iure quaerat sint adipisci aliquid beatae dolorum totam nostrum, aperiam hic cumque odio consequuntur nemo magni a doloribus.
  </div>
</div>
<%= javascript_include_tag "animate" %>
