<div class="bawdy">
  <div class="redesign">
  <div class="overlay-linear-gradient"></div>
    <div class="heroContainer">
      <h1 class="heroText">Joe Roberts</h1>
      <div class="subheader">
      <h2 class="job-title web">web&nbsp;</h2>
      <h2 class="job-title developer">developer</h2>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="intro-redesign">
    <p>Hi, I'm Joe: welcome to my portfolio!</p>
    <p>Below you'll see some examples of my work as a developer</p>
    <p>These have been created in a variety of contexts: pro-bono work for non-profit clients;
      personal projects, and projects for my full-stack bootcamp.</p>
    <p>Please reach out if you have any questions!</p>
    </div>
    <div class="projects-redesign">
      <div class="thrive-redesign project-redesign">
        <h3 class="project-title-redesign">Thrive Out Loud</h3>
        <p>Thrive Out Loud, built for the LBTQ+ non-profit "Sean's Legacy" is a web
          application built to pair LGBTQ+ young adults with mentors from the professional
          world.</p>
        <p>As the lead developer on this project, I managed a team of five volunteer
          developers and worked with the client, product managers, and UX teams
          to set the scope of the project and conceive and build new features.</p>
        <p>I singlehandedly implemented the onboarding flow to collect a user's
          data and store it in the database on sign-up, and oversaw front end
          development of the site in-line with UX designs. Finally I designed a
          scalable model for the data storage, and advised and oversaw the implementation
          of data-privacy best practices.</p>
        <p>This was all managed over the course of two months, having inherited
          the project in an entirely new stack and without any handover or documentation.</p>
      </div>
      <div class="farmland-redesign project-redesign">
        <h3 class="project-title-redesign">Farmland</h3>
        <p>Farmland is a web application that allows users to order from and
        carpool to local farms, all while tracking their CO2 savings versus
        buying produce from retail stores.</p>
        <p>This was a team project conceived,
        designed and built at Le Wagon's full time web development bootcamp in
        under two weeks.</p>
    </div>
  </div>
</div>
<%= javascript_include_tag "animated" %>
